<section class="education">
    <div class="heading">
        <h1>Education</h1>
    </div>

    <div class="education-container">
        <div class="college">
            <div class="college-sticky-note">
                <div class="sticky-note">
                    <img src="sticky-note.png" alt="sticky note">
                </div>
                <div class="sticky-note-text">
                    <div class="education-heading">
                        <h2>B.Tech. <br> (Computer Engineering)</h2>
                    </div>
                    <img src="degree.PNG" alt="degree image">
                    <div class="grades">
                        <h2>CGPA : 9.876</h2>
                    </div>
                </div>
            </div>

            <div class="place-and-time">
                <div class="place">
                    <img src="place-icon.PNG" alt="">
                    <p>Delhi Technological University</p>
                </div>
                <div class="time">
                    <img src="calendar-icon.PNG" alt="">
                    <p>2021 - 2025</p>
                </div>
            </div>

            <div class="extra-info">
                <p><u>Achievements</u> :</p>
                <p>- Department Rank 1</p>
                <p>- 10 SGPA in Semester III, IV and V</p>
                <p>- Scholarship worth Rs. 10k, 40k<br>and 5k in first, second and<br>third year respectively</p>
                <p>- Late Prof. D. Roy Choudhury <br>Scholarship</p>
                <p>- Prof. P. Kundu Medal</p>
                <br>
                <p><u>Extra - curriculars</u> :</p>
                <p>- Volunteered as mentor at <br>Desh Ke Mentor(initiative by <br>Delhi Government)</p>
                <p>- 1st position in Mood-ling (Art) <br>Competition (IIT Bombay)</p>
            </div>
            
            
        </div>

        <div class="class12">
            <div class="class12-sticky-note">
                <div class="sticky-note">
                    <img src="sticky-note.png" alt="sticky note">
                </div>
                <div class="sticky-note-text">
                    <div class="education-heading">
                        <h2>Class 12 (CBSE)</h2>
                    </div>
                    <img src="science.PNG" alt="degree image">
                    <div class="grades">
                        <h2>98 %</h2>
                    </div>
                </div>
            </div>

            <div class="place-and-time">
                <div class="place">
                    <img src="place-icon.PNG" alt="">
                    <p>Delhi International Public School</p>
                </div>
                <div class="time">
                    <img src="calendar-icon.PNG" alt="">
                    <p>2021</p>
                </div>
            </div>

            <div class="extra-info">
                <p><u>Achievements</u> :</p>
                <p>- School Topper</p>
                <p>- AIR 6561 - JEE Mains</p>
                <p>- AIR 7142 - JEE Advanced</p>
                <p>- AIR 1301 - UCEED</p>
                <p>- II Position in VVM<br>(Vidyarthi Vigyan Manthan)<br>State Camp</p>
            </div>
        </div>

        <div class="class10">
            <div class="class10-sticky-note">
                <div class="sticky-note">
                    <img src="sticky-note.png" alt="sticky note">
                </div>
                <div class="sticky-note-text">
                    <div class="education-heading">
                        <h2>Class 10 (CBSE)</h2>
                    </div>
                    <img src="books.PNG" alt="degree image">
                    <div class="grades">
                        <h2>98.6 %</h2>
                    </div>
                </div>
            </div>

            <div class="place-and-time">
                <div class="place">
                    <img src="place-icon.PNG" alt="">
                    <p>Delhi International Public School</p>
                </div>
                <div class="time">
                    <img src="calendar-icon.PNG" alt="">
                    <p>2019</p>
                </div>
            </div>

            <div class="extra-info">
                <p><u>Achievements</u> :</p>
                <p>- School Topper</p>
                <br>
                <p><u>Extra - curriculars</u> :</p>
                <p>- First position in sketching zonal <br>competition</p>
                <p>- First position in Hindi essay writing <br>zonal competition</p>
            </div>

            
        </div>

    </div>

</section>
