<section class="skills">
    <div class="heading">
        <h1>Skills</h1>
    </div>

    <div class="content">
        <div class="subcontent">
            <div class="subcontent-img">
                <img src="/programming-languages.PNG" alt="">
                <!-- <h2>Programming Languages:</h2> -->
            </div>
            <div class="subcontent-text">
                <h2>Programming Languages :</h2>
                <p>cpp , Java , Python , JavaScript</p>
            </div>
        </div>

        <div class="subcontent">
            <div class="subcontent-img">
                <img src="/web-technologies.PNG" alt="">
                <!-- <h2>Programming Languages:</h2> -->
            </div>
            <div class="subcontent-text">
                <h2>Web Technologies :</h2>
                <p>HTML , CSS , React.js , Node.js , Express.js</p>
            </div>
        </div>

        <div class="subcontent">
            <div class="subcontent-img">
                <img src="/databases.PNG" alt="">
                <!-- <h2>Programming Languages:</h2> -->
            </div>
            <div class="subcontent-text">
                <h2>Databases :</h2>
                <p>MongoD , SQL</p>
            </div>
        </div>

        <div class="subcontent">
            <div class="subcontent-img">
                <img src="/concepts.PNG" alt="">
                <!-- <h2>Programming Languages:</h2> -->
            </div>
            <div class="subcontent-text">
                <h2>Concepts :</h2>
                <p>OOPS , OS , DBMS , DSA , Computer Networks</p>
            </div>
        </div>
        <!-- <p>
            Programming Languages: Cpp, Java, Python, JavaScript
            <br>
            Web Technologies: HTML, CSS, React.js, Node.js, Express.js
            <br>
            Databases: MongoDB, SQL
            <br>
            Concepts: OOPS, OS, DBMS, DSA, Computer Networks
        </p> -->
    </div>

</section>

