<section class="personal-projects">
    <div class="heading">
        <h1>Personal Projects</h1>
    </div>

    <div class="project-container">
        <div class="project1">
            <div class="project1-main">
                <div class="sticky-note-long">
                    <img src="sticky-note-long.png" alt="sticky note">
                </div>
                <div class="sticky-note-text">
                    <div class="project-heading">
                        <h2>Vego <br> (E-Commerce Website)</h2>
                    </div>
                    <img src="vegan.PNG" alt="degree image">
                    <div class="desc">
                        <p>Developed a <span class="bold-text">MERN</span>-based E-Commerce platform for discovering and
                            purchasing vegan,
                            cruelty-free products with
                            functionalities like cart management, product carousels, secure checkout, authentication, and an
                            interactive UI.
                        </p>
                    </div>
                </div>       
            </div>
            <div class="extra-info">
                <div class="video-and-github">
                    <a href="https://drive.google.com/file/d/1I9xsqI_-kP6Zvb9L9_hBKjJQdscGDr1N/view?usp=sharing">
                        <div class="video">
                            <img src="video-icon.PNG" alt="video icon">
                            <p><u>Video demo</u></p>
                        </div>
                    </a>

                    <a href="https://github.com/Sanya14K/vego">
                        <div class="github">
                            <img src="github.PNG" alt="github icon">
                            <p><u>Github Link</u></p>
                        </div>
                    </a>
                    
                    
                </div>
            
                <div class="tech-stack">
                    <p><span class="bold-text">Tech Stack</span></p>
                    <p>Frontend : React.js, Material-UI, Redux</p>
                    <p>Backend : Node.js, Express.js</p>
                    <p>Database : MongoDB</p>
                </div>
            </div>
    
        </div>

        <div class="project2">
            <div class="project2-main">
                <div class="sticky-note-long">
                    <img src="sticky-note-long.png" alt="sticky note">
                </div>
                <div class="sticky-note-text">
                    <div class="project-heading">
                        <h2>CPU Scheduling <br>Simulator</h2>
                    </div>
                    <img src="cpu.PNG" alt="cpu image">
                    <div class="desc">
                        <p>A web-based tool that allows users to interactively visualise <span class="bold-text">8 CPU scheduling algorithms</span> with I/O tables and Gantt
                        Chart
                        </p>
                    </div>
                </div>
            </div>

            <div class="extra-info">
                <div class="video-and-github">
                    <a href="https://sanya14k.github.io/CPU-Scheduling-Simulator/">
                        <div class="video">
                            <img src="video-icon.PNG" alt="">
                            <p><u>Live link</u></p>
                        </div>
                    </a>
                    
                    <a href="https://github.com/Sanya14K/CPU-Scheduling-Simulator">
                        <div class="github">
                            <img src="github.PNG" alt="">
                            <p><u>Github Link</u></p>
                        </div>
                    </a>
                </div>
            
                <div class="tech-stack">
                    <p><span class="bold-text">Tech Stack</span></p>
                    <p>HTML, CSS, JavaScript
                </div>
            </div>
        
        </div>

        <div class="project3">
            <div class="project3-main">
                <div class="sticky-note-long">
                    <img src="sticky-note-long.png" alt="sticky note">
                </div>
                <div class="sticky-note-text">
                    <div class="project-heading">
                        <h2>Dilli Yatra - <br>Delhi Metro Application</h2>
                    </div>
                    <img src="delhi-metro.PNG" alt="cpu image">
                    <div class="desc">
                        <p>A simple Cpp program that will take information of the source station and the destination station of Delhi Metro, from
                        the user and display the fare, shortest metro route to reach the destination and the number of stations in the path.
                        </p>
                    </div>
                </div>
            </div>

            <div class="extra-info">
                <div class="video-and-github">   
                    <a href="https://drive.google.com/file/d/1qIJC4RWbK6dOICYyXFSjOuc5c7Itjkb8/view?usp=sharing">
                        <div class="video">
                            <img src="video-icon.PNG" alt="">
                            <p><u>Video demo</u></p>
                        </div>
                    </a>

                    <a href="https://github.com/Sanya14K/Delhi-Metro">
                        <div class="github">
                            <img src="github.PNG" alt="">
                            <p><u>Github Link</u></p>
                        </div>
                    </a>
                    
                    
                </div>
            
                <div class="tech-stack">
                    <p><span class="bold-text">Language</span></p>
                    <p>Cpp
                </div>
            </div>

            
        
        </div>

    </div>

    
</section>
