<section class="about-section">
    <div class="hello-world">Hello World !</div>
    
    <div class="my-name">I am Sanya,</div>
    <div class="intro1">Computer Science graduate from Delhi Technological University, currently working as a Software Engineer. While I spend my days coding
    and solving problems, my creative side thrives through sketching, painting and my love for movies.
    </div>
    <div class="intro2">Welcome to my little corner of the internet !</div>
    <div class="image">
        <img src="home-page-img.png">
    </div>
</section>





